#search {
    float: left;
    padding-left: 1%;
    width: 70%;
    vertical-align: top;

}
.eventImg {
    height: 100%;
    width: 100%;
}
#EntertainmentLink {
    border-bottom: 2px #ff6e40 solid;
}
#sort {
    float: right;
    height: 100%;
    margin: 1px;
}

#sort > div {
    width: 38%;
    display: inline-block;
    margin: 1px;
}

.search {
    height: 50px;
    background-color: #FFF;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #ff6e40;
    height: 40px;
    width: 100%;
}

input[type=text]:focus {
    outline-width: 0;
}

#AZImg, #TimeImg {
    width: 100%;
    margin: 0;
    cursor: pointer;
}

#AZImg:hover, #TimeImg:hover {
    background-color: #ff6e40;
}

.performance {
    background-color: #FFF;
    text-align: left;
    position: relative;
    vertical-align: middle;
}

.mainInfo {
    display: inline-block;
    vertical-align: middle;

}

.mainInfo > h2 {
    margin: 0;
}

#description {
    height: auto;
    display: inline-block;
    vertical-align: middle;

}

#reserveInfo {
    display: inline-block;
    vertical-align: middle;
}

#reserveButton {
    background-color: #cfd8dc;
    border: none;
    width: 90%;
    margin: 0 auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;

}

#reserveButton:hover {
    background-color: #ff9e80;

    cursor: pointer;
}

.mainInfo {
    width: 15%;
}

#description {
    width: 60%;
    font-size: 15px;

    font-size: 1.2em;

}

#reserveInfo {
    width: 18%;
    font-size: 1.2em;
}

.formRow {
    text-align: left;

}

#ReserveForm {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

#rPage input, #rPage select {
    width: 100%;
}

#rPage h3 {
    margin: 5px 1px auto;
}

#buttons {
    text-align: center;
}

#buttons > .navB {
    width: 25%;

}

#ReserveForm, #page2 {
    position: relative;
}

#ReserveForm input[type=button]:disabled, #ReserveForm input[type=submit]:disabled {
    background-color: #eceff1;
    border-bottom: 0;
}

#ReserveForm input[type=submit], #ReserveForm input[type=button] {
    background-color: #cfd8dc;
    border-bottom: 1px #90A4AE solid;
    cursor: pointer;
}

.error {
    color: RED;
}

#ReserveForm input[type=submit]:hover, #ReserveForm input[type=button]:hover {
    border-bottom: 1px #FFF solid;
}

#ReserveForm input, #ReserveForm select {
    width: 100%;
    border: none;
    border-bottom: 2px #ff9e80 solid;
    outline: none;
    padding: 12px 12px 20px 2px;
    margin: 4px 0;
}

#ReserveForm select {
    padding: 0;
}

#ReserveForm input:focus, #ReserveForm select:focus {
    border-bottom: 2px #ff3d00 solid;

}

.popupContent {
    background-color: #FFF;
}

@media only screen and (max-width: 767px) {
    #EntertainmentLink {
        background-color: #ff6e40;
        border-bottom: 0;
    }

    .mainInfo {
        width: 100%;
    }

    #description {
        width: 100%;

    }

    #reserveInfo {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .mainInfo {
        width: 15%;
    }

    #description {
        width: 60%;

    }

    #reserveInfo {
        width: 18%;
    }
}

@media only screen and (min-width: 1920px) {
    .mainInfo {
        width: 15%;
    }

    #description {
        width: 60%;

    }

    #reserveInfo {
        width: 18%;
    }
}

@media only screen and (min-width: 2560px) {
    .mainInfo {
        width: 15%;
    }

    #description {
        width: 60%;

    }

    #reserveInfo {
        width: 18%;
    }
}